body {
    background-color: #f2f9ff;
}

a:hover {
    background-color: yellow;
  }

.align-items-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

#name {
    color: #4d545c;
    font-family: 'Bungee', cursive;

}

#headshot {
    /* border: 1px solid slategrey; */
    background-image: url(../img/Bend_Concert.jpg);
    background-color: lightblue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#about {
    color: #4d545c;
}